.projects{
    //height: 300vh;
    .projectsContainer{
        width: 100%;
        height: 334px;
    
        //PROJECTS TOP
        .projectsTop{
            position: relative;
            width: 100%;
            height: 100%;
            //background: url("/trianglebgcopie2.png");
            background: rgb(224,49,55);
            background: linear-gradient(-180deg, rgba(224,49,55,1) 20%, rgba(245,217,56,1) 100%);
            .projectsTopText{
                position: absolute;
                //z-index: 5;
                width: 100%;
                height: 100%;
                font-size: 1.5rem;
                text-transform: uppercase;
                color: $white;
                @include verticalCenter;
            }
            .projectsTopBlack{
                width: 100%;
                height: 100%;
                background-color: $black-2;
                opacity: 15%;
            }
            img{
                opacity: 50%;
                width: 100%;
                height: 400px;
                max-height: 400px;
                //width: 1440px;
                //height: 305px;
                //filter: brightness(50%);
            }
        }
    }
}