.projects{
    display: flex;
    flex-direction: column;
    height: 100%;
    // height: 300vh;
    .projectsContainer{
        flex: 1;
        // width: 100%;
        // height: 334px;
    
        //PROJECTS TOP
        .projectsTop{
            position: relative;
            width: 100%;
            height: 100%;
            //background: url("/trianglebgcopie2.png");
            background: rgb(224,49,55);
            background: linear-gradient(-180deg, rgba(224,49,55,1) 20%, rgba(245,217,56,1) 100%);
            .projectsTopText{
                position: absolute;
                //z-index: 5;
                width: 100%;
                height: 100%;
                font-size: 1.5rem;
                text-transform: uppercase;
                color: $white;
                @include verticalCenter;
            }
            .projectsTopBlack{
                width: 100%;
                height: 100%;
                background-color: $black-2;
                opacity: 15%;
            }
            img{
                opacity: 50%;
                width: 100%;
                height: 400px;
                max-height: 400px;
                //width: 1440px;
                //height: 305px;
                //filter: brightness(50%);
            }
        }

        // .dropdown{
        //     position: relative;
        //     width: 100%;
        //     // height: 150px;
        //     margin-top: 20px;
        //     @include verticalCenter;
        //     .menu-trigger{
        //         position: relative;
        //         width: 225px;
        //         height: 40px;
        //         border: 1px solid $light-grey;
        //         border-radius: $borderRadius;

        //         &:hover{
        //             // background-color: lightgray;
        //             background-color: $light-grey;
        //             cursor: pointer;
        //         }
        //         p{
        //             position: relative;
        //             width: 100%;
        //             height: 100%;
        //             @include verticalCenter;
        //         }
        //         svg{
        //             position: absolute;
        //             height: 100%;
        //             right: 0;
        //             transform: translateY(-100%);
        //             margin-right: 10px;
        //         }
        //     }

        //     .dropdown-menu{
        //         position: absolute;
        //         top: 50px;
        //         // right: 20px;
        //         background-color: white;
        //         //border-radius: var(--border-radius);

        //         // padding: 10px 20px;
                
        //         width: 225px;
        //         border: 1px solid $light-grey;
        //         border-radius: $borderRadius;

        //         // &::before{
        //         //     z-index: -1;
        //         //     content: '';
        //         //     position: absolute;
        //         //     top: -5px;
        //         //     right: 20px;
        //         //     height: 20px;
        //         //     width: 20px;
        //         //     //background: var(--secondary-bg);
        //         //     background-color: $white;
        //         //     transform: rotate(45deg);
        //         //   }
                  
        //             &.active{
        //             opacity: 1;
        //             visibility: visible;
        //             transform: translateY(0);
        //             transition: var(--speed) ease;
        //             }
        //           &:not(.active){
        //             opacity: 0;
        //             visibility: hidden;
        //             transform: translateY(-20px);
        //             transition: var(--speed) ease;
        //             }

        //         .dropdownList{
        //             //left: 0;
        //             width: 100%;
        //             height: 100%;
        //             background-color: white;
        //             border-radius: $borderRadius;
        //             //margin-top: 30px;
        //             //margin-right: 10px;

        //             .item{
        //                 display: flex;
        //                 flex-direction: column;
        //                 line-height: 1.7em;
                        
        //                 .itemContent{
        //                     color: $black;
        //                     padding: 10px  10px;
        //                     border-top: 1px solid rgba(0, 0, 0, 0.05);
        //                     svg{
        //                         margin-right: 2px;
        //                     }
        //                     &:hover{
        //                         // color: $grey;
        //                         background-color: $light-grey;
        //                         cursor: pointer;
        //                     }
        //                     // &:nth-child(1){
        //                     //     pointer-events: none;
        //                     // }

        //                     .span{
        //                         width: 100%;
        //                         height: 100%;
        //                         color: $blue;
        //                         @include verticalCenter;
        //                         &:hover{
        //                             // color: $grey;
        //                             cursor: pointer;
        //                         }
        //                     }
        //                 }
        //             }

        //         }
        //     }
        // }
    }
}