.singlePost{
    // height: 100vh;
    .singlePostContent{
        width: 100%;
        display: flex;
        flex-direction: column;
        @include verticalCenter;
        
        .postTitle{
            //position: relative;
            width: 65%;
            margin-top: 40px;
            h3{
                font-size: 1.8rem;
            }
            p{
                left: 0;
                margin-top: 5px;
                //position: relative;
            }
        }
        .edit{
            display: flex;
            width: 65%;
            //left: 0;
            //transform: translateY(-65%);
            .icons{
                cursor: pointer;
                width: 24px;
                height: 24px;
                border-radius: 50%;
                border: solid;
                &:hover{
                    background-color: $grey;
                }
                &:nth-child(2){
                    margin-left: 8px;
                }
            }
        }
        img{
                width: 65%;
                margin-top: 5px;
            }
        .postText{
            width: 65%;
            margin-top: 50px;
            margin-bottom: 50px;

            p{
                line-height: 2;
                font-size: 1.1rem;
            }
        }
    }
}


@media screen and (max-width: 540px){
    .singlePost .singlePostContent .postTitle{
        width: 75%;
    }
    .singlePost .singlePostContent .postText{
        width: 75%;
    }
}