.write{
    height: 90vh;
    .writeContent{
        width: 100%;
        height: 100%;
        //height: 334px;
        display: flex;
        //justify-content: center;
        flex-direction: column;

        //WRITE TOP
        .writeTop{
            display: flex;
            flex-direction: column;
            //position: relative;
            width: 100%;
            .writeTopText{
                //position: absolute;
                //z-index: 5;
                width: 100%;
                height: 100%;
                font-size: 1.5rem;
                text-transform: uppercase;
                //color: $white;
                color: $grey;
                //@include verticalCenter;
                display: flex;
                justify-content: center;
                flex-direction: column;
                margin-top: 60px;

                h3{
                    width: 100%;
                    @include verticalCenter;
                }
            }
            .hr{
                width: 100%;
                display: flex;
                justify-content: center;
                margin-bottom: 100px;
                hr{
                    width: 30%;
                    border: solid 1px $light-grey;
                    //width: 60%;
                }
            }
            //.writeTopBlack{
            //    width: 100%;
            //    height: 100%;
            //    background-color: $black-2;
            //    opacity: 25%;
            //}
            //img{
            //    opacity: 80%;
            //    width: 100%;
            //    height: 400px;
            //    max-height: 400px;
                //width: 1440px;
                //height: 305px;
                //filter: brightness(50%);
            //}
        }

        //WRITE MAIN
        .writeMain{
            display: flex;
            width: 100%;
            padding: 0 90px 0 90px;
            .mainContent{
                flex: 5;
                display: flex;
                flex-direction: column;
                gap: 20px;
                input{
                    padding: 10px;
                    border: 1px solid lightgray;
                }
                .editorContainer{
                    height: 300px;
                    overflow: scroll;
                    border: 1px solid lightgray;
                    .editor{
                        height: 100%;
                        border: none;
                    }
                }
            }
            .menu{
                flex: 2;
                display: flex;
                flex-direction: column;
                gap: 20px;
                margin-left: 20px;
                .item{
                    display: flex;
                    flex-direction: column;
                    border: 1px solid lightgray;
                    padding: 10px;
                    font-size: 14px;
                    &:nth-child(2){
                        //margin-top: 10px;
                    }

                    h3{
                        font-size: 1.5rem;
                    }
                    input{
                        margin-right: 7px;
                    }
                    .iconsText{
                        display: flex;
                        flex-direction: column;
                        @include verticalCenter;
                        margin-top: 20px;
                        padding: 7px;
                        cursor: pointer;
                        
                        &:hover{
                            background-color: $light-grey;
                        }
                    }
                }
            }
        }

    }
}