.footer{
    margin-top: 150px;
    .footerContainer{
        width: 100%;
        height: 325px;
        background-color: $black;
        @include verticalCenter;
        .list{
            width: 56%;
            ul{
                display: flex;
                justify-content: space-between;
                padding-top: 40px;
                li, a{
                    color: $white;
                    cursor: pointer;
                    
                    &:hover{
                        color: $light-grey;
                    }
                }
                li{
                    padding: 12px;
                }
            }
            .logoDiv{
                height: 125px;
                display: flex;
                align-items: center;
                .info{
                    height: 100%;
                    width: 46px;
                    display: flex;
                    align-items: center;
                    .icon{
                        // min-width: 46px;
                        // min-height: 46px;
                        min-width: 32px;
                        min-height: 32px;
                    }
                }
                .partnerLogoContent{
                    width: 100%;
                    height: 125px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    .partnerLogo{
                        width: 125px;
                        height: 75px;
                        margin: 10px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 800px) {
    .footer{
        width: 100%;
        .footerContainer{
            width: 100%;
        }
    }
}
@media screen and (max-width: 540px) {
    .footer{
        width: 100%;
        height: 825px;
    }
    .footer .footerContainer{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: start;
    }
    .footer .footerContainer .list ul{
        padding-top: 20px;
        display: flex;
        flex-direction: column;
    }
    .logoDiv{
        padding-top: 80px;
    }
    .partnerLogoContent{
        display: flex;
        flex-direction: column;
    }
    .info{
        margin-bottom: 30px;
    }
}