//GO BACK BUTTON
.gbButton{
    margin-top: 20px;
    left: 30px;
    padding: 5px;
    border-radius: 50%;
    border: 1px solid $grey;
    background-color: $light-grey;
    color: $black;
    position: fixed;
    z-index: 1;
    svg{
        width: 20px;
        height: 20px;
        @include verticalCenter;
    }
}
.gbButton.scrolled {
    left: 30px;
    top: 130px;
    z-index: 1;
}
@media screen and (max-width: 540px){
    .gbButton{
        left: 10px;
    }
    .gbButton.scrolled{
        left: 10px;
    }
}
@media screen and (max-width: 500px){
    .gbButton{
        position: fixed;
        bottom: 0;
        margin-bottom: 14px;
    }
    .gbButton.scrolled{
        top: auto;
    }
}
