.navbar{
    //position: relative;
    //position: fixed;
    position: sticky;
    //height: auto;
    //position: fixed;
    background-color: $color-1;
    color: $white;
    top: 0;
    width: 100%;
    z-index:2;
}
    .navbarContainer{
        //position: absolute;
        display: flex;
        min-height: 87px;
        
        .navbarLogo{
            min-height: 87px;
            //width: 220px;
            max-width: 220px;
            img{
                //width: 104px;
                //width: 140px;
                max-width: 140px;
                //transform: translateY(50%);
                transform: translateY(25%);
                margin-left: 40px;
            }
        }
        
        .navigation{
            @include verticalCenter;
            width: 100%;
            ul{
                //@include verticalCenter;
                width: 100%;
                display: flex;
                justify-content: space-evenly;
                li{
                    color: $white;
                    cursor: pointer;
                    //padding-left: 70px;
                    //&:hover{
                    //    color: $black;
                    //}
                    a{
                        color: $white;
                    }
                    .active{
                        color: $black;
                    }
                }
            }
        }

        .navOthersLogo{
            display: flex;
            align-items: center;
            img{
                max-width: 84px;
                max-height: 54px;
                margin-right: 40px;
            }
        }
    }
//}