.navbar{
    //position: relative;
    //position: fixed;
    position: sticky;
    //height: auto;
    //position: fixed;
    background-color: $color-1;
    color: $white;
    top: 0;
    width: 100%;
    z-index:2;
}
    .navbarContainer{
        //position: absolute;
        display: flex;
        min-height: 87px;
        
        .navbarLogo{
            min-height: 87px;
            //width: 220px;
            max-width: 220px;
            img{
                //width: 104px;
                //width: 140px;
                max-width: 140px;
                //transform: translateY(50%);
                transform: translateY(25%);
                margin-left: 40px;
            }
        }
        
        .navigation{
            @include verticalCenter;
            width: 100%;
            ul{
                //@include verticalCenter;
                width: 100%;
                display: flex;
                justify-content: space-evenly;
                li{
                    color: $white;
                    cursor: pointer;
                    //padding-left: 70px;
                    //&:hover{
                    //    color: $black;
                    //}
                    a{
                        color: $white;
                    }
                    .active{
                        color: $black;
                    }
                }
            }
        }
        
        .dropdown{
            position: relative;
            //margin-right: 20px;
            //@include verticalCenter;
            width: 54px;
            height: 54px;
            //right: 20px;
            .menu-trigger svg{
                //display: flex;
                position: relative;
                //position: absolute;
                //top: 20px;
                right: 20px;
                height: 46px;
                width: 46px;
                padding: 3px;
                //border-radius: 50%;
                border-right: 1px solid $white;

                overflow: hidden;
                cursor: pointer;
                color: $white;
                opacity: .3;
                @include verticalCenter;
                //.center{
                //    display: flex;
                //    align-items: center;
                //}
            }
            .dropdown-menu{
                //position: absolute;
                //width: 200px;
                //height: 300px;

                position: absolute;
                top: 85px;
                right: 20px;
                background-color: $white;
                //border-radius: var(--border-radius);
                padding: 10px 20px;
                width: 200px;
                border-radius: $borderRadius;

                &::before{
                    z-index: -1;
                    content: '';
                    position: absolute;
                    top: -5px;
                    right: 20px;
                    height: 20px;
                    width: 20px;
                    //background: var(--secondary-bg);
                    background-color: $white;
                    transform: rotate(45deg);
                  }
                  //.dropdown-menu.active{
                    &.active{
                    opacity: 1;
                    visibility: visible;
                    transform: translateY(0);
                    transition: var(--speed) ease;
                    }
                  &:not(.active){
                    opacity: 0;
                    visibility: hidden;
                    transform: translateY(-20px);
                    transition: var(--speed) ease;
                    }

                .dropdownList{
                    //left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: $white;
                    border-radius: $borderRadius;
                    //margin-top: 30px;
                    //margin-right: 10px;

                    .item{
                        display: flex;
                        flex-direction: column;
                        line-height: 1.7em;
                        
                        .itemContent{
                            color: $black;

                            padding: 10px  0;
                            border-top: 1px solid rgba(0, 0, 0, 0.05);
                            svg{
                                margin-right: 2px;
                            }
                            &:hover{
                                color: $grey;
                                cursor: pointer;
                            }
                            &:nth-child(1){
                                pointer-events: none;
                            }

                            .span{
                                width: 100%;
                                height: 100%;
                                color: $blue;
                                &:hover{
                                    color: $grey;
                                    cursor: pointer;
                                }
                            }
                        }
                    }

                }
            }
        }
        .navOthersLogo{
            display: flex;
            align-items: center;
            img{
                max-width: 84px;
                max-height: 54px;
                margin-right: 40px;
            }
        }
    }
//}