//POSTS
.posts{
    .post{
        .postContent{
            display: flex;
            justify-content: center;
            .postContentMain{
                display: flex;
                flex-direction: column;
                margin-top: 100px;
                width: 70%;
                .hr{
                    display: flex;
                    margin-bottom: 25px;
                    max-height: 200px;
                    .image{
                        img{
                            display: flex;
                            width: 400px;
                            height: 200px;
                            object-fit: cover;
                            object-position: center center;
                        }
                    }
                    .postText{
                        display: flex;
                        flex-direction: column;
                        margin-left: 30px;
                        overflow: hidden;
                        h3{
                            font-size: 1.5rem;
                            padding-top: 10px;
                            padding-bottom: 12px;
                            line-height: 1.3;
                            font-weight: bold;
                        }
                    }
                }
                hr{
                    border: 1px solid $light-grey;   
                }
            }
        }
    }
}
@media screen and (max-width: 950px) {
    .posts .post .postContent .postContentMain .hr .postText h3{
        font-size: 1.3rem;
    }
}
@media screen and (max-width: 900px) {
    .posts .post .postContent .postContentMain .hr .postText h3{
        font-size: 1rem;
    }
    .posts .post .postContent .postContentMain .hr .postText p{
        font-size: .7rem;
    }
}
@media screen and (max-width: 800px) {
    .posts .post .postContent .postContentMain{
        width: auto;
    }
    .posts .post .postContent .postContentMain .hr{
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-height: none;
        .postText{
            margin-left: 0;
        }
    }
}