@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@800&family=Josefin+Sans:wght@100&family=Nova+Round&display=swap');

$font-1: 'Nova Round', cursive;
$font-2: 'Dosis', sans-serif;
$font-3: 'Josefin Sans', sans-serif;

// $color-1: #E03137;
$color-1: seagreen;
// $color-1: darkolivegreen;
$color-2: #FFD100;
$color2-2: rgba(255,209,0, 0.7);
$color-3: #6495C0;
$color2-3: rgb(100,149,192, 0.7);
$color-4: #78AB4D;
$color2-4: rgb(120,171,77, 0.7);
$color-5: #7451EB;
$color2-5: rgb(116,81,235, 0.7);
$color-6: #FF0000;
$color2-6: rgb(255,0,0, 0.7);
$color-7: #99583D;
$color2-7: rgb(153,88,61, 0.7);
$white: #FCF6F4;
$black: #333;
$black-2: #1D1D1D;
$blue: #262147;
$grey: #999;
//$grey: #ededed;
$light-grey: #F2F3F4;

//$borderRadius: 12px;
$borderRadius: 4px;
$shadow: 0 1px 3px #333;
$box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
//$box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
//$minHeight: 95vh;

@mixin verticalCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    // height: 100%;
}

html{
    // height: 100%;
    // min-height: 100%;

    height: 100%;
    margin: 0;
    padding: 0;
}

body{
    //margin: 1rem auto;
    //max-width: 1200px;
    width: 100%;
    min-height: 100%;
    font-family: $font-1;
    color: $black;
    //background: url('../../public/media/wallpaper4.jpeg') no-repeat center/cover;

    // padding-bottom: 200px;
    position: relative;
    box-sizing: border-box;




    height: 100%;
    margin: 0;
    padding: 0;
}

button{
    cursor: pointer;
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: $black;
    cursor: pointer;
}

a:visited{
    color: $black;
}

h2{
    color: $blue;
    font-size: 2rem;
    font-weight: bold;
    font-family: $font-3;
}


// section{
//     // display: grid;
//     display: flex;
//     width: 100%;
//     // place-items: center;
//     // align-content: center;
//     // min-height: 100vh;
// }
// .hiddenSection{
//     opacity: 0;
//     filter: blur(5px);
//     transform: translateX(-100%);
//     // transition: all 1s;
//     transition: opacity 1s, filter 1s, transform 1s;
// }
// .show{
//     opacity: 1;
//     filter: blur(0);
//     transform: translateX(0);

//     transition: opacity 1.5s, filter 1.5s, transform 1.5s;
// }
// .imgSection:nth-child(1){
//     transition-delay: 100ms;
// }
// .imgSection:nth-child(2){
//     transition-delay: 200ms;
    
// }
// .imgSection:nth-child(3){
//     transition-delay: 300ms;
    
// }


// svg{
//     color: $black;
// }